body {
  background-image: url("/img/background.jpg");
  font-family: "Lato", sans-serif;
  text-align: justify;
}

main {
  margin: 0 auto;
  max-width: 60em;
}

.before p {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 14pt;
  margin: 0;
}

.before img {
  float: right;
  position: relative;
  right: -90px;
  top: -60px;
}
