name: deployment

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - uses: actions/checkout@v6

      - shell: pwsh
        run: build/Start-Deployment.ps1 -Verbose
        env:
          GH_TOKEN: ${{ github.token }}
          KUBE_TOKEN: ${{ secrets.token }}
          KUBE_SERVER: ${{ secrets.server }}
          KUBE_AUTHORITY: ${{ secrets.authority }}
